<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <h1 class="mb-5">Sign In</h1>
            <form>
                <div class="mb-4">
                    <label>Username or Mobile No</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="mb-5">
                    <label>Password</label>
                    <input type="text" class="form-control"/>
                </div>
                <button class="primary_btn">Signin</button>
                <p class="text-end">New User? <button class="text_btn">Signup</button></p>
            </form>
        </div>
    </div>
</div>