header{
    margin-bottom: 30px;
}

.top_header{
    padding: 10px 0;
    background: #222;

    .logo_name{
        font-size: 16px;
        color: #fff;
        margin: 0;
    }

    .login_actions{
        display: flex;
        justify-content: end;
        gap: 10px;
        margin: 0;

        li{
            list-style: none;
            font-weight: 500;

            img{
                width: 30px;
            }
        }
    }
}

.bottom_header{
    background: #232f3e;
    padding: 5px 0;

    .menus{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
        margin: 0;

        .menu_list{
            font-size: 14px;
            list-style: none;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
        }
    }
}